footer {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-gap: 1rem;
  margin: 1.25rem 2.5rem 1.25rem;
}
footer > * {
  grid-column: 2 / -2;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
}
