main .formkit-form[data-uid] h2,
.formkit-form p {
  line-height: 1.25;
  margin: 1rem 0;
}
main .formkit-form[data-uid] h2 {
  font-size: 2.5rem;
}
main .formkit-form[data-uid] p {
  font-size: 1.25rem;
}

.seva-form.formkit-form[data-uid] .formkit-column[data-element] {
  padding-bottom: 4rem;
}

.formkit-form .formkit-fields {
  margin-top: 2rem;
}

main .formkit-form[data-uid] {
  max-width: none;
}
