.main-navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem var(--side-margins);
}

.main-navigation ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.main-navigation a {
  text-decoration: none;
  font-variant-caps: all-small-caps;
  color: var(--link-normal);
  font-variation-settings: "wght" 400, "opsz" 8;
}
