nav.Top {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 1rem;
  margin: 3.75rem 2.5rem 1.25rem;
}

nav.Top ul,
nav.Top ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.Top ul {
  columns: 10rem auto;
}

#title {
  font-variation-settings: "wght" 700, "opsz" 60;
  font-size: 2.5rem;
  line-height: 1;
}
#title a {
  text-decoration: none;
  color: var(--base-color);
}
