nav.Top {
  display: grid;
  grid-template-columns: 40ch 1fr;
  grid-gap: 1rem;
  padding: 1.25rem 2.5rem;

  background-color: #f4f4e2;
  margin: 3.75rem 0 1.25rem;
}

nav.Top ol,
nav.Top ol li {
  padding: 0;
  margin: 0;
  text-align: left;
}

.Top ol {
  columns: 25ch auto;
}

#title {
  font-variation-settings: "wght" 700, "opsz" 60;
  font-size: 2.5rem;
  line-height: 1;
}
#title a {
  text-decoration: none;
  color: var(--base-color);
}

.front .Top {
  display: none;
}
