
<div class="Card">
<div class="CardDate">1 December 2021</div>
  <div class="CardEdit">
  <button class="CardButton">Edit</button></div>
    <div class="CardBody">This is a card body. Or card text. What does this look like? What does this feel like? How does this work? Does it need rich text? Will plaintext do?
<span></span>
Is markdown a useful compromise?</div></div>