<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>{{ title }} – Colophon Cards</title>
    {% endblock %}
    <meta itemprop="name" content="{{ title }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="og:url" content="https://www.colophon.cards{{ page.url }}" />
    <meta name="og:site_name" content="The Making of Colophon Cards" />
    <meta name="og:type" content="article" />
    <meta name="article:author" content="https://www.baldurbjarnason.com/" />
    <meta name="author" content="Baldur Bjarnason" />

    <link href="/assets/style.css" rel="stylesheet" />

{% for style in stylesheets %}
    <link href="/assets/{{style}}" rel="stylesheet" />
{% endfor %}
{% for script in scripts %}
    <script src="/assets/{{script}}" defer></script>
{% endfor %}

    <link href="/styles/source-serif-var/source-serif.css" rel="stylesheet" />
    <link href="https://www.colophon.cards/feed.xml" rel="alternate"
    type="application/rss+xml" title="All posts for The Making of Colophon Cards" />
  </head>
  <body class=""><div class="container {{tags}}">
      <nav class="main-navigation" aria-labelledby="site">
        <div id="site"><a href="/">Colophon Cards</a></div>
        <ol>
          <li><a href="/pages/about/">About</a></li>
          <li><a href="/pages/contact/">Contact</a></li>
        </ol>
      </nav>
      <nav class="Top" aria-labelledby="title">
        <div id="title"><a href="/">The Making of<br><span class="logo">Colophon Cards</span></a></div>
        <ol>
    {% for item in collections.posts %}
    <li{% if page.url == item.url %} aria-current="page"{% endif %}><a href="{{item.url}}">{{ item.data.title }}</a></li>
    {% endfor %}
    <li><a href="https://www.baldurbjarnason.com/2022/why-people-use-markdown/">What I learned about markdown from interviewing a bunch of people (baldurbjarnason.com)</a></li>
    <li><a href="https://www.baldurbjarnason.com/2022/the-different-kinds-of-notes/">The different kinds of notes (baldurbjarnason.com)</a></li>
    <li><a href="https://www.baldurbjarnason.com/2022/on-online-collaboration/">On online collaboration and our obligations as makers of software (baldurbjarnason.com)</a></li>
        </ol>
      </nav>
    </ul>
      {% block main %}
      <main class="source-serif-ss03 source-serif-slashed-zero source-serif">
        <div class="time">{{page.date.toLocaleDateString("en-GB", { year: 'numeric', month: 'long', day: 'numeric' })}}</div>

{% include 'note.njk' %}


          {{ content | safe }}
      </main>
      {% endblock %}
      {%block footer %}
      <footer>
      <p>
        This project was made possible by a grant from <a href="https://en.rannis.is/funding/research/technology-development-fund/nr/545">The Icelandic Centre for Research's Technology Development Fund</a>
      </p>
      </footer> {% endblock  %}
      <div class="Bottom"></div>
  </div>
  </body>
</html>
