<div class="Note">
<p>This is an archive of the writing and research surrounding the <em>Colophon Cards</em> project.</p>
<p>The initial work on Colophon Cards was funded by <em>The Icelandic Centre for Research’s Technology Development Fund</em>. I had originally hoped to get a grant to further develop the project from that fund, but that fell through. I’m still hoping to restart work on the project, but in the absence of funding the scope will inevitably be much more limited and is likely to look very different from the vision presented in this archive.</p>
</div>